.HomeSection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
    background-color: #DEF1FF;
}

.HomeSection1_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;
    width: 80%;
    max-width: 600px;

    margin-bottom: 70px;

    & h2 {
        margin-bottom: 30px;
        max-width: 500px;
    }
}

.HomeSection1_texto_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.HomeSection1_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;
    max-width: 600px;
}

.HomeSection1_inputs_itens,
.HomeSection1_inputs_itens_classificacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;

    & textarea {
        width: 100%;
        height: 500px;
        border: 1px rgb(7, 104, 161) solid;
        border-radius: 20px;
        padding: 8px 12px;
        resize: none;
        background-color: aliceblue;
    }
}

.HomeSection1_inputs_itens_classificacao {
    margin: 30px 0px 20px 0px;
    background-color: aliceblue;
    border: 2px rgb(7, 104, 161) solid;
    border-radius: 20px;
    width: 80%;
    padding: 20px 0px;
}

.HomeSection1_inputs_itens_sugestao_resposta {
    display: flex;
    border: 1px rgb(7, 104, 161) solid;
    background-color: aliceblue;
    padding:12px 16px;
    border-radius: 20px;
    width: 100%;
    min-height: 500px;
    position: relative;

    & p {
        word-break: break-word;
        overflow-wrap: break-word;
    }
    & button {
        position: absolute;
        bottom: 18px;
        right: 18px;
        background-color: #3087C5;
        border: none;
        color: aliceblue;
        padding: 14px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
}