.HomeSection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
}

.HomeSection1_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-align: center;
    width: 80%;
    max-width: 600px;

    margin-bottom: 70px;

    & h2 {
        margin-bottom: 30px;
        max-width: 500px;
    }
}

.HomeSection1_texto_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.HomeSection1_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;
    max-width: 600px;
}

.HomeSection1_inputs_itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;

    & textarea {
        width: 100%;
        height: 500px;
        border: 2px blue solid;
        border-radius: 20px;
        padding: 8px 12px;
        resize: none
    }
}