.SobreSection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    min-height: 100vh;
    width: 100%;
    padding: 70px 0px;
}

.SobreSection1_itens,
.SobreSection1_itens_paragrafos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 80%;
    max-width: 600px;
}

.SobreSection1_itens_paragrafos {
    gap: 20px;
    text-align: center;
}