.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 20px 0px;

    border: red 2px solid;
    border-radius: 20px 20px 0px 0px;
}

.Footer_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 70vw;
}

.Footer_itens img{
    width: 200px;
}

.Footer_itens_informacoes {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 15vw;
}

.Footer_itens_informacoes_lista {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
}

.Footer_itens_informacoes_lista_itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}