.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 20px 0px;

    border: red 2px solid;
    border-radius: 0px 0px 20px 20px;
}

.Header_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 70vw;
}

.Header_itens img{
    width: 200px;
}

.Header_itens_paginas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 200px;
}