* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-color: #DEF1FF;
}

a {
  color: inherit;
  text-decoration: none;
}

li, ul {
  list-style: none;
}